<section>

<img src="http://i1159.photobucket.com/albums/p624/sarahpenneyuk/BioFamily_zps01vuaoyi.jpg" class="backgroundImg" />

<!-- <body ng-controller="MainCtrl"> -->
<a ui-sref="papersIndex({ organismId: organism.id })" ng-repeat="organism in organismsIndex.all" class="bioImages" ng-attr-id="{{organism.name | dasherize}}">
  <img ng-src='{{ organism.image }}' alt="Image of organism" class="images"
  ng-mouseover="organismsIndex.toggleInfo(organism)"
  ng-mouseleave="organismsIndex.infoVisible = false"
  class="img-responsive"
  ng-class="{ 'selected-image': image.selected }">
</a>


<!-- <div class="selected-image" ng-class="{ 'selected-image': image.selected }"> -->
<div class="selected-image-info" ng-class="{'active': organismsIndex.infoVisible}">
  <h1 id="orgNames">{{ organismsIndex.organism.name }}</h1>
  <!-- <h4>Phylum: {{ organismsIndex.organism.phylum }}</h4>
  <h4>Order: {{ organismsIndex.organism.order }}</h4>
  <h4>Family: {{ organismsIndex.organism.family }}</h4>
  <h4>Genus: {{ organismsIndex.organism.genus }}</h4> -->
  <!-- <p>{{ organismsIndex.organism.body }}</p> -->
</div>

</section>
