<section ng-class="main.cssStyle" class="new-stuff">
<div class="container">
<h1 class="papersIndexTitle">New Paper</h1>


<form ng-submit="papersCreate.create()">
  <label>
    <input ng-model="papersCreate.paper.title" placeholder="Paper Title" class="paperTitle">
  </label>
  <br>
  <label>
    <input ng-model="papersCreate.paper.body" placeholder="" class="paperBody">
  </label>

  <button type='submit' class="buttonStyle" id="createButton">Create</button>
</form>
<div class="container"></div>
<div class="underlineCreate"></div>
</section>





<section class="old-stuff">
  <div>
  <h1 class="pageTitle">New Paper</h1>


  <form ng-submit="papersCreate.create()">
    <label>
      <input ng-model="papersCreate.paper.title" placeholder="Paper Title">
    </label>
    <br>
    <label>
      <input ng-model="papersCreate.paper.body" placeholder="" class="bodyInput">
    </label>

    <button type='submit'>Create</button>
  </form>

  <img src="http://67.media.tumblr.com/tumblr_m914mhFD7N1qdou7bo1_400.gif" alt=""><img src="http://67.media.tumblr.com/tumblr_m914mhFD7N1qdou7bo1_400.gif" alt=""><img src="http://67.media.tumblr.com/tumblr_m914mhFD7N1qdou7bo1_400.gif" alt=""><img src="http://67.media.tumblr.com/tumblr_m914mhFD7N1qdou7bo1_400.gif" alt="">
</section>
