<h1>edit</h1>

<section class="row">
  <form ng-submit="usersEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="title" placeholder="Title" ng-model="usersEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Email</label>
      <input type="text" name="director" placeholder="Director" ng-model="usersEdit.user.email" class="u-full-width">
    </div>

    <button>Update</button>
  </form>
</section>
