<section ng-class="main.cssStyle" class="new-stuff">

  <form novalidate ng-submit="login.submit()" class="logInForm">
    <div>
      <label class="inputLabel"></label>
      <input type="email" placeholder="Email" ng-model="login.credentials.email">
    </div>
    <div>
      <label class="inputLabel"></label>
      <input type="password" placeholder="Password" ng-model="login.credentials.password">
    </div>

    <button class="buttonStyle">Enter</button>
  </form>
  <img src="http://i1159.photobucket.com/albums/p624/sarahpenneyuk/Bobtail_zps57gewg35.jpg" class="gif" alt="">


</section>








<section class="old-stuff">


<div class="box">
  <!-- <img src="http://i1159.photobucket.com/albums/p624/sarahpenneyuk/nwwecst_zpsjxowl99k.gif"> -->
<h1 class="pageTitle">Login</h1>

<form novalidate ng-submit="login.submit()">
  <div>
    <label>Email:</label>
    <input type="email" placeholder="" ng-model="login.credentials.email">
  </div>
  <div>
    <label>Password:</label>
    <input type="password" placeholder="" ng-model="login.credentials.password">
  </div>

  <button>Enter</button>
</form>
</div>
<img src="http://66.media.tumblr.com/1d3125446e250f891d13f979ed19a1a9/tumblr_nd2u0rxvpA1r6oew5o1_500.gif" class="wobbleMan">
</section>
