
<form novalidate ng-submit="register.submit()" class="registerForm">
  <div>
    <label></label>
    <input type="text" placeholder="Username" ng-model="register.user.username">
  </div>
  <div>
    <label></label>
    <input type="email" placeholder="Email" ng-model="register.user.email">
  </div>
  <div>
    <label></label>
    <input type="password" placeholder="Password" ng-model="register.user.password">
  </div>
  <div>
    <label></label>
    <input type="password" placeholder="Password Confirmation" ng-model="register.user.password_confirmation">
  </div>

  <button class="buttonStyleReg">Register</button>
</form>


<img src="https://d13yacurqjgara.cloudfront.net/users/280033/screenshots/1880055/attachments/318673/ripple_glow.gif" class="gif" alt="">
