.visibledevice {display:none;}
// .visibledesktop {display:display;}

@media screen and (max-width: 320px) {
   .visibledesktop { display: none; }
  //  .visibledevice {
  //    display: display;
  //    .mobileFriendlyJelly { width: 100%; } }
}




body,html {
  color: white;
  padding: 30px 0 0 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}


nav {
  position: absolute;
  width: 100%;
  height: 58px;
  background-color: white;
  margin: 0;
  top: 0;
  z-index: 9999;
  a {
    text-decoration: none;
    color: #38363e;
    font-weight: bolder;
    margin-left: 30px;
  }
  li {
    &:last-of-type {
      float: right;
      margin-right: 20px;
      margin-top: -3px;
    }
  }
}

ul {
    list-style-type: none;
    text-decoration: none;
    margin-top: 15px;
    padding: 0;
    font-weight: bold;
}

li {
  display: inline;
  list-style-type: none;
  text-decoration: none;
}


//////////////////////////////////////////// REG AND LOGIN


.gif {
opacity: 0.4;
margin: 0;
}

.logInForm {
position: absolute;
left: 250px;
top: 280px;
z-index: 9999;
text-align: left;
  input {
    height: 40px;
    width: 300px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid lightgrey;
    color: white;
    font-size: 14px;
    padding-left: 10px;
    opacity: 0.7;
  }
}

.registerForm {
  position: absolute;
  left: 250px;
  top: 220px;
  z-index: 9999;
  text-align: left;
    input {
      height: 40px;
      width: 300px;
      margin: 10px;
      background-color: transparent;
      border: 1px solid lightgrey;
      color: white;
      font-size: 14px;
      padding-left: 10px;
      opacity: 0.7;
    }
  }


.buttonStyle {
  font-family: 'Playfair Display', serif;
  position: absolute;
  background: transparent;
  border-style: none;
  color: lightgray;
  font-size: 16px;
  text-shadow: 2px 2px 4px #153e57;
  margin-top: 20px;
  left: 260px;
}

.buttonStyleReg {
  font-family: 'Playfair Display', serif;
  position: absolute;
  background: transparent;
  border-style: none;
  color: lightgray;
  font-size: 16px;
  text-shadow: 2px 2px 4px #153e57;
  margin-top: 20px;
  left: 230px;
}

//////////////////////////////////END REG AND LOGIN

//////////////////////////////////HOME PAGE



#orgNames {
  font-size: 70px;
  position: absolute;
  right: 30px;
}


.backgroundImg {
  margin-top: 12px;
margin-left: 108px;
position: absolute;
position: fixed;
z-index: 0;
}


.selected-image {
  border: 15px solid red;
}

.selected-image-info {
  color: white;
  opacity: 0;
  text-align: right;
  transition: all linear 0.3s;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  &.active {
    opacity: 1;
  }
}

.bioImages {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all linear 0.3s;
  &:hover {
      opacity:1.0;
  }

  img {
    height: 100%;
  }
}



#Firefly {
  position: absolute;
  top: 153px;
  left: 406px;
  height: 75px;
}


#Click-Beetle {
  position: absolute;
  top: 523px;
  left: 629px;
  height: 80px;
}


#Glow-Worm {
  position: absolute;
  top: 305px;
  left: 577px;
  height: 58px;
}


#Railroad-Worm {
  position: absolute;
  left: 772px;
  top: 183px;
  height: 83px;
}


#Motyxia {
  position: absolute;
  top: 603px;
  left: 928px;
  height: 42px;
}


#Quantula-Striata {
  position: absolute;
  top: 550px;
  left: 822px;
  height: 83px;
}


#Annelid {
  position: absolute;
  top: 344px;
  left: 430px;
  height: 120px;
}


#Anglerfish {
  position: absolute;
    top: 422px;
    left: 301px;
    height: 105px;
}


#Cookiecutter-Shark {
  position: absolute;
  top: 333px;
  left: 613px;
  height: 62px;
}


#Catshark {
  position: absolute;
  top: 506px;
  left: 740px;
  height: 56px;
}


#Flashlight-Fish {
  position: absolute;
  top: 353px;
  left: 496px;
  height: 80px;
}


#Gulper-Eel {
  position: absolute;
      top: 138px;
      left: 615px;
      height: 91px;
}


#Lanternfish {
  left: 606px;
  top: 381px;
  height: 91px;
  position: absolute;
}

#Marine-Hatchetfish {
  position: absolute;
  top: 368px;
  left: 787px;
  height: 73px;
}

#Midshipman-Fish {
  position: absolute;
    top: 287px;
    left: 499px;
    height: 75px;
}


#Pinecone-Fish {
  position: absolute;
  top: 379px;
  left: 262px;
  height: 83px;
}


#Viperfish {
  position: absolute;
  top: 215px;
  left: 631px;
  height: 62px;
}


#Black-Dragonfish {
  position: absolute;
  top: 485px;
  left: 415px;
  height: 120px;
}


#Cnidaria {
  position: absolute;
  left: 758px;
  top: 266px;
  height: 92px;
}


#Sea-Pen {
  position: absolute;
    top: 235px;
    left: 885px;
    height: 124px;
}


#Coral {
  position: absolute;
    top: 491px;
    left: 213px;
    height: 90px;
}


#Jellyfish {
  position: absolute;
  top: 430px;
  left: 491px;
  height: 140px;
}


#Comb-Jellies {
  top: 517px;
  left: 270px;
  height: 120px;
  position: absolute;
}


#Echinoderm {
  position: absolute;
    top: 181px;
    left: 497px;
    height: 115px;
}

#Crustacean {
  position: absolute;
      height: 85px;
      top: 99px;
      left: 524px;
}


#Arrow-Worms {
  position: absolute;
  top: 411px;
  left: 207px;
  height: 95px;
}


#Clams {
  position: absolute;
    top: 452px;
    left: 654px;
    height: 74px;
}


#Sea-Slugs {
  position: absolute;
  top: 566px;
  left: 592px;
  height: 91px;
}


#Octopus {
  top: 211px;
  left: 348px;
  height: 170px;
  position: absolute;
}


#Vampire-Squid {
  left: 231px;
  top: 255px;
  height: 127px;
  position: absolute;
}


#Bobtail-Squid {
  position: absolute;
  top: 576px;
  left: 451px;
  height: 88px;
}


#Colossal-Squid {
  position: absolute;
top: 423px;
left: 842px;
height: 88px;
}


#Sparkling-Enope-Squid {
  left: 916px;
  top: 520px;
  height: 88px;
  position: absolute;
}


#Fungi {
  position: absolute;
  top: 421px;
  left: 740px;
  height: 80px;
}


#Vibrionaceae {
  position: absolute;
  top: 566px;
  left: 732px;
  height: 70px;
}


#Shewanella {
  position: absolute;
  left: 863px;
  top: 353px;
  height: 70px;
}


#Protist {
  left: 678px;
  height: 60px;
  top: 261px;
  position: absolute;
}


//////////////////////////////////////// PAPERS INDEX ///////// CREATE //////// EDIT


.container {
  position: absolute;
  left: 200px;
  top: 140px;
    h2 {
      display: inline;
      margin-bottom: 100px;
    }
}

.underline {
  height: 1px;
  background-color: white;
  margin-top: 170px;
  margin-left: 200px;
  margin-right: 290px;
}

.underlineCreate {
  height: 1px;
  background-color: white;
  margin-top: 600px;
}

.underlineShow {
  position: absolute;
  top: 300px;
}

.papersIndexTitle {
  margin-bottom: 70px;
  font-size: 60px;
  color: white;
  margin-top: 0;
}


.createPaperLink {
  position: absolute;
  left: 1005px;
  top: 179px;
  text-align: right;
  text-decoration: none;
  font-size: 25px;
  color: #047c94;
   a {
     text-decoration: none;
   }
   &:hover {
     color: #8cbfc2;
   }
}

.readMore {
  margin: 0;
  margin-bottom: 19px;
  font-size: 12px;
  color: #8cbfc2;
    &:hover {
      color: #047c94;
    }
}

.splitList {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 162px;
}

.paperTitle {
  height: 40px;
  width: 300px;
  background-color: transparent;
  border: 1px solid lightgrey;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  opacity: 0.7;
  margin-bottom: 20px;
}


.paperBody {
  height: 250px;
  width: 600px;
  background-color: transparent;
  border: 1px solid lightgrey;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  opacity: 0.7;
}

#createButton {
  margin-left: 300px;
}

#buttonStyleDelete {
  margin-top: 20px;
}

.textBodyWidth {
  margin-right: 220px;
}

//////////////////////////////////////////////////////// Switch styling

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

////////////////////////////////////////// OLD STYLE CSS TOGGLED ON


body {
  &.new {
    background-color: black;
    .old-stuff {
      display: none;
    }
  }
  &.old {

     cursor: url(http://cur.cursors-4u.net/cursors/cur-2/cur116.cur),progress;
     a:hover {cursor: url(http://cur.cursors-4u.net/nature/nat-8/nat703.cur), progress !important;};

    font-family: Times;
    color: black;
    background-image: url("http://i1159.photobucket.com/albums/p624/sarahpenneyuk/jellyfishLogin_zpswx7l3h7p.jpg");
    background-size: 100%;

    a {
      color: blue;
      font-style: italic;
      cursor: alias;
    }

    .pageTitle {
      font-size: 50px;
      color: purple;
      font-style: italic;
      text-decoration: underline;
      display: inline;
      // position: absolute;
      // margin-bottom: 350px;
    }

    .bodyInput {
      height: 300px;
      width: 700px;
    }

    .readMoreOld {
      color: black;
      font-size: 12px;
      margin-top: -15px;
      text-decoration: underline;
    }

    .organismLinks {
      padding: 5px;
      display: inline-block;
      // float: right;
      font-size: 18px;
      text-align: left;
    }

    .ulOfOrganisms {
      float: right;
      position: absolute;
      margin-top: 0;
    }

    .leftBlock {
      max-width: 50%;
    }

    .rightBlock {
      width: 500px;
      float: right;
      margin-right: 310px;
      margin-top: -500px;
    }

    .splitList {
        -moz-column-count: 3;
        -moz-column-gap: 100px;
        -webkit-column-count: 3;
        -webkit-column-gap: 100px;
        column-count: 3;
        column-gap: 30px;
    }

    .bannerShrooms {
      height: 200px;
    }

    .createPaperOld {
      font-size: 24px;
    }

    .jellyfish {
      height: 200px;
      margin-left: 30px;
    }

    .jellyGif1 {
      position: absolute;
      margin-left: -200px;
      z-index: 9999;
    }
    .jellyGif2 {
      position: absolute;
      margin-left: -300px;
      margin-top: 100px;
      z-index: 9999;
      height: 200px;
    }
    .jellyGif3 {
      position: absolute;
      margin-left: -400px;
      margin-top: 420px;
      z-index: 9999;
      height: 100px;
    }
    .fish1 {
      position: absolute;
      margin-left: -530px;
      margin-top: 190px;
      z-index: 9999;
      height: 200px;
    }
    .fish2 {
      position: absolute;
      margin-left: -620px;
      margin-top: 210px;
      z-index: 9999;
      height: 300px;
    }
    .fish3 {
      position: absolute;
      margin-left: -470px;
      margin-top: 90px;
      z-index: 9999;
    }
    .squidGif {
      position: absolute;
      margin-left: -620px;
      margin-top: 60px;
      z-index: 9999;
    }

    form {
      color: white;
      label {
        // margin-left: 30px;
      }
      input {
        margin: 3px;
      }
    }
    .box {
      position: absolute;
      top: 100px;
      left: 100px;
      width: 350px;
      height: 250px;
      background-color: lightgrey;
    }
    .boxReg {
      position: absolute;
      top: 100px;
      left: 100px;
      width: 500px;
      height: 250px;
      background-color: lightgrey;
    }
    button {
      background-color: gray;
      border: 1px solid black;
      // margin-left: 30px;
      margin-bottom: 10px;
      display: inline;
    }

    .wobbleMan {
      position: absolute;
      left: 700px;
      top: 150px;
      z-index: -200;
    }

    .new-stuff {
      display: none;
    }
  }
}
